<form  action="https://www.sandbox.paypal.com/tn/cgi-bin/webscr" method="post">

<input  name="amount" type="hidden"  value="5"/>
<input  name="currency_code" type="hidden"  value="USD"/>
<input  name="shipping" type="hidden"  value="0.00"/>
<input  name="tax" type="hidden"  value="0.00"/>
<input  name="return" type="hidden"  value="http://localhost/pfe1/panier/success"/>
<input  name="cancel_return" type="hidden"  value="http://localhost/pfe1/panier/cancel"/>
<input  name="notify_url" type="hidden"  value="http://127.0.0.1/pfe1/panier/ipn"/>
<input  name="cmd" type="hidden"  value="_xclick"/>
<input  name="business" type="hidden"  value="kchaouanis22@yahoo.fr"/>
<input  name="item_name" type="hidden"  value="compte premium"/>
<input  name="no_note" type="hidden"  value="1"/>
<input  name="lc" type="hidden"  value="FR"/>
<input  name="bn" type="hidden"  value="PP_BuyNowBF"/>
<input  name="custom" type="hidden"  value="user_id=1"/>
<input    type="submit" value="acheter" class=".acheter"/>










</form>

