<h1>contrat</h1><?phpforeach ($not as $n){echo "<b>nom</b>: ".$n['Devi']['nom']."</br>";echo "<b>produit</b>: ".$n['Devi']['nomuser']."</br>";echo "<b>email</b>: ".$n['Devi']['email']."</br>";}?><a href="javascript:window.print()">imprimer cette page</a>