<table width="700">
<tr>
<td bgcolor="orange"><b>Demandeur</b></td>
<td bgcolor="orange"><b>Email</b></td>
<td bgcolor="orange"><b>Message</b></td>
<td bgcolor="orange"><b> Action </b></td>
</tr>
<?php

foreach($devi as $d)
{
?>
<tr><td><?php echo $d['Devi']['nom']; ?></td><td><?php echo $d['Devi']['email']; ?></td>
<td><?php echo $d['Devi']['nomuser']; ?></td>

<td><?php echo $this->Html->link('retourner devis',array('action'=>'retounercmd',$d['Devi']['nom']));  ?> </td>                  


</tr>
<?php
}












?>
</table>