<form action="../pages/contact"  method="post">

titre </br>
<input name="titre" type="text"/></br>
message</br>
<textarea name="message"></textarea></br>
email </br>
<input name="email" type="text"/></br>

<input type="submit" value="envoyer"/>









</form>